body {
/*	width: 100%;
	height: 100%;*/
	background-image: url(gradientbg.jpg);
	background-size: 150% auto;
	background-repeat: no-repeat;
/*	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	overflow: hidden;
}

.hand {
	width: 100%;
	height: 50%;
/*	background-image: url(fingers.png);
	background-size: contain;
	background-repeat: no-repeat;*/
/*	background-color: yellow;*/
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
/*	transform: rotate(-135deg);*/
	opacity: 0;
}

.transformopacity {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transformopacity-active {
	width: 100%;
	height: 50%;
/*	background-image: url(fingers.png);
	background-size: contain;
	background-repeat: no-repeat;*/
/*	background-color: yellow;*/
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
/*	transform: rotate(-135deg);*/
	opacity: 1.0;
}

#righthand {
	width: 100%;
	height: 50%;
	position: fixed;
	top: 0%;
	left: 0%;
	transform: translate(-50%,-50%);
/*    background-color: blue;*/
     -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.close {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border-style: solid;
	border-width: 10px;
	border-color: white;
    cursor: pointer;
    transition: all 1s linear;
}

    .close.active{
      background: #fff;
    }
    .close.active, 
    .close.active:before, 
    .close.active:after{
      transition: all 0.5s linear;
    }
    
    .close:before, 
    .close:after{
      content: "";
      position:absolute;
      width: 80%;
      height: 2px;
      background: transparent;
      top: 50%;
      left: 10%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    .close:after{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
    .close.active:before, 
    .close.active:after{
      background: transparent;
    }



#one {
	width: 350px;
	height: 350px;
	position: fixed;
	top: 75%;
	left: 80%;
	transform: translate(-50%,-50%);

} 

#two {
	position: fixed;
	top: 20%;
	left: 85%;
	transform: translate(-50%,-50%);
}

#three {
	position: fixed;
	top: 30%;
	left: 53%;
	transform: translate(-50%,-50%);
}

#four {
	position: fixed;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
}

#five {
	position: fixed;
	top: 80%;
	left: 10%;
	transform: translate(-50%,-50%);
}


#helpicon {
	width: 70px;
	height: 70px;
	background-image: url(helpicon.png);
	background-size: contain;
	opacity: 0.7;
	background-repeat: no-repeat;
	position: fixed;
	top: 5%;
	left: 90%;
	transform: translate(-50%,-50%);
}

#backicon {
	width: 70px;
	height: 70px;
	background-image: url(backicon.png);
	background-size: contain;
	opacity: 0.7;
	background-repeat: no-repeat;
	position: fixed;
	top: 5%;
	left: 10%;
	transform: translate(-50%,-50%);
}


.blackfade {
		/*background-color: rgba(0, 0, 0, 0.3);*/
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(230,64,81,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 20%,rgba(230,64,81,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,rgba(230,64,81,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e64051',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 1;

}

.transformblack {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transformblack-active {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(230,64,81,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 20%,rgba(230,64,81,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,rgba(230,64,81,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e64051',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
}

.box {
	width: 80%;
	height: 60%;
	background-color: white;
	border-radius: 60px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 1.0;
}



.transform {
  -webkit-transition: all 1s ease-in-out;  
  -moz-transition: all 1s ease-in-out;  
  -o-transition: all 1s ease-in-out;  
  -ms-transition: all 1s ease-in-out;  
  transition: all 1s ease-in-out;
}

.transform-active {
	width: 80%;
	height: 60%;
	background-color: white;
	border-radius: 60px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	z-index: -50;
}


  
#poptext {
	position: fixed;
	top: 65%;
	left: 40%;
	transform: translate(-50%,-50%);
	font-size: 60px;
	color: #3e3e3e;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-align: left;
	opacity: 1.0;
}

#byebye {
  position: fixed;
  top: -50%;
  left: 127%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: #ff8171;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  opacity: 1.0;
}

#icon {
	width: 200px;
	height: 200px;
	background-image: url(clenchedfisticon.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: 23%;
	left: 20%;
	transform: translate(-50%,-50%);
	opacity: 1.0;
}


