body {
  overflow: hidden;
  background-image: url(gradientbg.jpg);
  background-size: 150% auto;
  background-repeat: no-repeat;
}

.box {
/*  background-color: #218D9B;*/
  height: 1500px;
  width: 1000px;
  background-image: url(punchingbag.png);
  background-size: cover;
}

.transform {
  animation-name: forwardone;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes forwardone {
  0% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchingbag.png);
  background-size: cover;
  }
50% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchbag4.gif);
  background-size: cover;
  }
  100% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchingbag.png);
  background-size: cover;
  }
}


.transform-active {
  animation-name: forward;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes forward {
  0% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchingbag.png);
  background-size: cover;
  }
50% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchbag4.gif);
  background-size: cover;
  }
  100% {
  height: 1500px;
  width: 1000px;
  background-image: url(punchingbag.png);
  background-size: cover;
  }
}









.fist {
  width: 314px;
  height: 706px;
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
    background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
}

.transformtwo {
  animation-name: forwardtwo;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes forwardtwo {
  0% {
  width: 314px;
  height: 706px;
  position: fixed;
    top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
  }
  50% {
  width: 314px;
  height: 706px;
  position: fixed;
      top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
  }
  100% {
  width: 314px;
  height: 706px;
  position: fixed;
    top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
}
}


.transformtwo-active {
  animation-name: forwardthree;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes forwardthree {
  0% {
  width: 314px;
  height: 706px;
  position: fixed;
    top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
  }
  50% {
  width: 314px;
  height: 706px;
  position: fixed;
      top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
  }
  100% {
  width: 314px;
  height: 706px;
  position: fixed;
    top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(http://i67.tinypic.com/15ybtqc.png);
  background-size: cover;
}
}

#button {
  position: fixed;
    top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #3f3f3f;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 60px;
}




.preview {
    display: block;
    width: 300px;
    height: 300px;
    margin: 20px auto;
/*    box-shadow: 0px 0px 0px 2px rgba(33, 122, 105, 1);*/
    border-radius: 50%;
    overflow: hidden;
    background-color: #262626;
    border-style: solid;
    border-color: transparent;
    border-width: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.file-upload-wrapper {
    position: fixed;
  top: 40%;
  left: -10%;
  transform: translate(-50%,-50%);
    position: relative;
    z-index: 15;
    display: block;
    width: 250px;
    height: 200px;
    margin: 25px auto;
    border-radius: 0px;
    border-bottom: 1px dashed rgba(33, 122, 105, 1);
}

.file-upload-native,
.file-upload-text {
    position: absolute;
    top: -50%;
  left: 10%;
  transform: translate(-50%,-50%);
/*    display: block;*/
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
    outline: none;
}

.file-upload-text {
    width: 100px;
    height: 100px;
    padding: 5px 15px 8px;
    overflow: hidden;
    font-size: 30px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    border: 0;
    background-color: transparent;
    background-image: url(uploadimageicon.png);
    opacity: 1.5;
    background-size: cover;
    z-index: 10;

}

.file-upload-native {
    z-index: 15;
    opacity: 0;
}








#helpicon {
  width: 70px;
  height: 70px;
  background-image: url(helpicon.png);
  background-size: contain;
  opacity: 0.7;
  background-repeat: no-repeat;
  position: fixed;
  top: 5%;
  left: 90%;
  transform: translate(-50%,-50%);
  z-index: 40;
}

#backicon {
  width: 70px;
  height: 70px;
  background-image: url(backicon.png);
  background-size: contain;
  opacity: 0.7;
  background-repeat: no-repeat;
  position: fixed;
  top: 5%;
  left: 10%;
  transform: translate(-50%,-50%);
  z-index: 40;
}


.blackfade {
  background-image: url(gradientbg.jpg);
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-size: 150% auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 25;
  

}

.transformblack {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transformblack-active {
  background-image: url(gradientbg.jpg);
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-size: 150% auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -50;
  opacity: 0;
}

.boxtwo {
    width: 80%;
  height: 50%;
  background-color: white;
  border-radius: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 1.0;
  
}



.transformthree {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transformthree-active {

    width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: -50;


}
  
#poptext {
  position: fixed;
  top: 65%;
  left: 40%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: #3e3e3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  opacity: 1.0;
}


#byebye {
  position: fixed;
  top: 10%;
  left: 87%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: #ff8171;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  opacity: 1.0;
}

#icon {
  width: 150px;
  height: 150px;
  background-image: url(punchingbagicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 30%;
  left: 20%;
  transform: translate(-50%,-50%);
  opacity: 1.0;
}

