body {
	background-color: #ff6551;
}

#computerbody {
	width: 300px;
	height: 450px;
	background-color: #cec1a4;
	border-radius: 10px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#computerscreen {
	width: 250px;
	height: 200px;
	background-color: #2c2c2c;
	border-radius: 20px;	
	top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

#computerscreen2 {
	width: 250px;
	height: 200px;
	background-color: #e3d5b6;
	border-radius: 20px;	
	top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

#diskslot1 {
	width: 140px;
	height: 10px;
	background-color: #2c2c2c;
	border-radius: 20px;	
	top: 70%;
    left: 65%;
    transform: translate(-50%,-50%);
    position: absolute;	
}

#diskslot1a {
	width: 140px;
	height: 10px;
	background-color: #e3d5b6;
	border-radius: 20px;	
	top: 72%;
    left: 65%;
    transform: translate(-50%,-50%);
    position: absolute;	
}

#diskslot2 {
	width: 50px;
	height: 30px;
	background-color: #2c2c2c;
	border-radius: 10px;	
	top: 72.5%;
    left: 80%;
    transform: translate(-50%,-50%);
    position: absolute;	
}

#diskslot2a {
	width: 50px;
	height: 30px;
	background-color: #e3d5b6;
	border-radius: 10px;	
	top: 75%;
    left: 80%;
    transform: translate(-50%,-50%);
    position: absolute;	
}


#diskslot3 {
	width: 50px;
	height: 7px;
	background-color: #2c2c2c;
	border-radius: 10px;	
	top: 66%;
    left: 80%;
    transform: translate(-50%,-50%);
    position: absolute;	
}

#diskslot3a {
	width: 50px;
	height: 7px;
	background-color: #e3d5b6;
	border-radius: 10px;	
	top: 67%;
    left: 80%;
    transform: translate(-50%,-50%);
    position: absolute;	
}

#toporange {
	width: 130px;
	height: 130px;
	background: #ff9f49;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
	top: 15%;
    left: 55%;
    transform: translate(-50%,-50%);
    position: absolute;		
}

#toporangeleaf {
  width: 60px; height: 60px;
  background-color: #A0DE21; 
  -moz-border-radius: 60px 0px;
  -webkit-border-radius: 60px 0px;
  border-radius: 60px 0px;
  	top: 3%;
    left: 53%;
    transform: translate(-50%,-50%);
    position: absolute;	
      transform: rotate(65deg);
}

#toporangestem {
	width: 7px;
	height: 30px;
	border-radius: 5px;
 	background-color: #A0DE21; 
  	top: 6%;
    left: 58%;
    transform: translate(-50%,-50%);
    position: absolute;	
    transform: rotate(65deg);	
}

#dots1 {
	color: #fde696;
	font-size: 70px;
	top: 30%;
	left: 40%;
	transform: translate(-50%,-50%);
	position: absolute;
	line-height: 20px;
	transform: rotate(30deg);	
}



#bottomorange {
	width: 130px;
	height: 130px;
	background: #ff9f49;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
	top: 85%;
    left: 40%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 5;		
}

#bottomorangeleaf {
  width: 60px; height: 60px;
  background-color: #A0DE21; 
  -moz-border-radius: 60px 0px;
  -webkit-border-radius: 60px 0px;
  border-radius: 60px 0px;
	top: 75%;
    left: 40%;
    transform: translate(-50%,-50%);
    position: absolute;	
      transform: rotate(65deg);
     z-index: 5;	
}

#bottomorangestem {
	width: 7px;
	height: 30px;
	border-radius: 5px;
 	background-color: #A0DE21; 
	top: 74%;
    left: 40%;
    transform: translate(-50%,-50%);
    position: absolute;	
    transform: rotate(30deg);	
     z-index: 5;	
}





#keyboard {
	border-bottom: 100px solid #e3d5b6;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-radius: 30px;
	height: 0;
	width: 400px;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.key1 {
    height: 100px;
    width: 10px;
    background: #3f3f3f;
    border-radius: 30px;
    position: fixed;
	top: 30%;
	left: 47%;
	transform: translate(-50%,-50%);
	z-index: 50;
	transform: rotate(45deg);
}


.key2 {
    height: 75px;
    width: 10px;
    background: #3f3f3f;
    border-radius: 30px;
    position: fixed;
	top: 35%;
	left: 49%;
	transform: translate(-50%,-50%);
	z-index: 50;
	transform: rotate(45deg);
}


.key3 {
    width: 300px;
    height: 10px;
    background: #cec0a3;
    border-radius: 30px;
    position: fixed;
	top: 74%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}

.key4 {
    width: 350px;
    height: 10px;
    background: #cec0a3;
    border-radius: 30px;
    position: fixed;
	top: 77%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}

.key5 {
    width: 400px;
    height: 10px;
    background: #cec0a3;
    border-radius: 30px;
    position: fixed;
	top: 78%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}

#keyboard2 {
	width: 488px;
	height: 30px;
	background-color: #cec1a4;
	border-radius: 10px;	
	top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

 #keyboard3 {
	width: 488px;
	height: 30px;
	background-color: #baae94;
	border-radius: 10px;	
	top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  #ball {
  	width: 300px;
	height: 300px;
	background: #d8d8d8;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    position: absolute;	
    z-index: 3;

  }

  #ballshadow {
  	width: 300px;
	height: 300px;
	background: #a5a5a5;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	top: 71%;
    left: 29%;
    transform: translate(-50%,-50%);
    position: absolute;	
  }


  .bottle {
    width: 110px;
    height: 180px;
    background: #ffe3cc;
    border-radius: 30px;
    top: 480px;
    left: 940px;
    position: absolute;
}


  .bottleshadow {
    height: 130px;
    width: 15px;
    background: #fffaf7;
    border-radius: 30px;
    top: 500px;
    left: 1010px;
    position: absolute;
}

  .bottleshadowtwo {
    height: 15px;
    width: 15px;
    background: #fffaf7;
    border-radius: 30px;
    top: 650px;
    left: 1010px;
    position: absolute;
}

.bottlebottom {
    width: 110px;
    height: 90px;
    background: #ffe3cc;
    border-radius: 5px;
    top: 630px;
    left: 940px;
    position: absolute;
}

.cork {
    width: 35px;
    height: 40px;
    background: #b75942;
    border-radius: 10px;
    top: 425px;
    left: 978px;
    position: absolute;
}

.bottletop {
    width: 50px;
    height: 50px;
    background: #ffe3cc;
    border-radius: 10px;
    top: 440px;
    left: 970px;
    position: absolute;
}