<!DOCTYPE html>
<html lang="en" >

<head>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Self</title>
  
  
  
      <link rel="stylesheet" href="css/3.css">

  
</head>

<body>

 <a href="about.html" style="text-decoration: none;"><div id="self">self // about</div></a>




  <div id="container" ng-app="SlideTilePuzzle">
  
  <div id="puzzle" ng-controller="PuzzleController" ng-class="{'puzzle-solved': solved}">
      
<!--       <div id="board">
        <div class="panel panel-l">Movements: <span>{{movements}}</span></div>
        <div class="panel panel-r">Time: <span>{{time}}</span></div>
      </div> -->
    
      <div ng-repeat="row in data">
      
      <div ng-repeat="item in row" class="piece piece-{{item.index + 1}} piece-pos-{{item.row}}-{{item.col}}" ng-class="{'piece-active': item.active}" ng-click="movePiece(item)"></div>
      
    </div>
    
    <div id="message">
      <p>
        <a href="#" ng-click="resetPuzzle()">START</a>
      </p>
    </div>
    
  </div>
  
</div>


<div id="puzzle" ng-controller="PuzzleController" ng-class="{'puzzle-solved': solved}">
      
      <div id="board">
        <div class="panel panel-l">Movements: <span>{{movements}}</span></div>
        <div class="panel panel-r">Time: <span>{{time}}</span></div>
      </div>
    
      <div ng-repeat="row in data">
      
      <div ng-repeat="item in row" class="piece piece-{{item.index + 1}} piece-pos-{{item.row}}-{{item.col}}" ng-class="{'piece-active': item.active}" ng-click="movePiece(item)" style="opacity: 0;"></div>
      
    </div>
    
    <div id="message">
      <p>
        PUZZLE SOLVED<br>
        <a href="#" ng-click="resetPuzzle()">START</a>
      </p>
    </div>
    
  </div>
  
</div>

<a href="4.html"><div id="p2"></div></a>
<a href="5.html"><div id="p3"></div></a>
<a href="index.html"><div id="p4"></div></a>
<a href="2.html"><div id="p5"></div></a>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
