body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;

}

#body2 {
    background: white;
  font-family: 'Montserrat', sans-serif;
/*letter-spacing: 10px;*/
/*border-style: solid;
border-radius: 30px;
border-width: 5px;*/
  font-size: 20px;
  line-height: 50px;
  position: relative;
    top: -33%;
  left: 50%;
  transform: translate(-50%,50%);
  height: auto;
  width: 70%;
  padding: 20px;
  text-align: left;
font-family: 'Montserrat', sans-serif;
/*letter-spacing: 10px;*/
/*border-style: solid;
border-radius: 30px;
border-width: 5px;*/
  color: #f85051;
  font-size: 30px;
  line-height: 50px;
  background-color: transparent;
/*    z-index: 50;*/
}

#mobile {
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  margin: 30px auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#mobileBodyContent {
  background: white;
  position: relative;
  width: 100%;
  height: 5500px;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
/*  z-index: -30;*/
}

#header {
  height: 80px;
  background: white;
    overflow: hidden;
}

#image {
  height: auto;
  width: 50%;
  overflow: hidden;
  position: fixed;
}

#image2 {
  height: 600px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

#image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#title {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 40px auto;
font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: black;
  background: transparent;
  position: relative;
    top: 5%;
  left: 50%;
  transform: translate(-50%,50%);
}

#mainpic {
  background-image: url("_assets/suzanneandrat.jpg");
  background-size: cover;
  width: 200px;
  height: auto;
}

#text .item {
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 2000px;
  width: 70%;
  padding: 20px;
  text-align: left;
font-family: 'Montserrat', sans-serif;
/*letter-spacing: 10px;*/
/*border-style: solid;
border-radius: 30px;
border-width: 5px;*/
  color: black;
  font-size: 30px;
  line-height: 50px;
  background-color: transparent;
}

#seconditem {
  position: absolute;
  height: auto;
  width: 70%;
  padding: 10px;
  text-align: left;
font-family: 'Open Sans', sans-serif;
letter-spacing: 5px;
  color: black;
  font-size: 30px;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
/*      text-shadow: 2px 2px 40px #000000;*/
      z-index: 50;
    }



#burgerBtn {
  border-top: 2px solid #f85051;
  height: 25px;
  width: 30px;
  box-sizing: border-box;
  position: absolute;
  z-index: 30;
  left: 20px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#burgerBtn:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #f85051;
  top: 10px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#burgerBtn:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #f85051;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a {
  text-decoration: none;
}

#nav {
  font-family: 'Numans', sans-serif;
  position: absolute;
/*  z-index: 10;*/
  list-style-type: none;
  margin: 100px 0 0 20px;
  padding: 0;
  overflow: hidden;
  width: 500px;
  height: 700px;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
letter-spacing: 10px;
  background: transparent;
    overflow: hidden;
}
#nav li {
  height: 90px;
  width: 0;
  margin: 30px 0;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -khtml-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
#nav li + li {
  margin-left: -40px;
}
#nav li + li + li {
  margin-left: -80px;
}
#nav li + li + li + li {
  margin-left: -120px;
}

#demoSelector {
    height: 667px;
  width: 375px;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 333px;
  left: 50%;
  margin-left: 227px;
}
#demoSelector li {
  padding: 10px 0 10px 30px;
  position: relative;
  cursor: pointer;
}
#demoSelector li:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #d8d5d0;
  left: 0;
  top: 18px;
}
#demoSelector li:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #888888;
  left: -6px;
  top: 12px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -khtml-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#demoSelector li.active:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -khtml-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.navigation #nav li {
  width: 200px;
  margin-left: 0;
}
.navigation #burgerBtn {
  border-color: transparent;
}
.navigation #burgerBtn:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 33px;
  left: -2px;
}
.navigation #burgerBtn:after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -khtml-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 11px;
  width: 33px;
  left: -2px;
}

.demo1.navigation #mobileBodyContent {
    height: 2000px;
  width: 100%;
  visibility: visible;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  margin-left: 400px;
}

.demo2.navigation #mobileBodyContent {
  margin-left: 320px;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -o-opacity: 0.4;
  opacity: 0.4;
}

.demo3.navigation #mobileBodyContent {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  visibility: hidden;
}

footer {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}

footer a {
  text-decoration: none;
  display: block;
  width: 50px;
}

footer a svg {
  width: 100%;
  max-width: 50px;
  min-width: 40px;
  display: inline-block;
}



