body {
  background-color: #f0f0f0;
  overflow: hidden;
}

#close {
  display: block;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  border-radius: 40px;
  background-color: #ff9a6b;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

#close2 {
  display: block;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  border-radius: 40px;
  background-color: #fe5668;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

#pop {
  width: 800px;
  height: 900px;
  background-color: white;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 1.0;
/*    box-shadow: 5px 5px 20px #c4c4c4;*/
    animation-name: stillmad;
    animation-duration: 600s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes stillmad {
  0.5% {
    opacity: 1.0;
  }
}


#instructions {
  position: fixed;
  top: 35%;
  left: 50%;
  line-height: 70px;
  transform: translate(-50%,-50%);
  font-size: 70px;
  color: #3e3e3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
   
   }

.numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 130px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

#one {
  color: transparent;
  animation-name: ones;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes ones {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#two {
  color: transparent;
  animation-name: twos;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

@keyframes twos {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#three {
  color: transparent;
  animation-name: threes;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: 1;
}

@keyframes threes {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#four {
  color: transparent;
  animation-name: fours;
  animation-duration: 2s;
  animation-delay: 6s;
  animation-iteration-count: 1;
}

@keyframes fours {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#five {
  color: transparent;
  animation-name: fives;
  animation-duration: 2s;
  animation-delay: 8s;
  animation-iteration-count: 1;
}

@keyframes fives {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#six {
  color: transparent;
  animation-name: sixs;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-iteration-count: 1;
}

@keyframes sixs {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#seven {
  color: transparent;
  animation-name: sevens;
  animation-duration: 2s;
  animation-delay: 12s;
  animation-iteration-count: 1;
}

@keyframes sevens {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#eight {
  color: transparent;
  animation-name: eights;
  animation-duration: 2s;
  animation-delay: 14s;
  animation-iteration-count: 1;
}

@keyframes eights {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#nine {
  color: transparent;
  animation-name: nines;
  animation-duration: 2s;
  animation-delay: 16s;
  animation-iteration-count: 1;
}

@keyframes nines {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}

#ten {
  color: transparent;
  animation-name: tens;
  animation-duration: 2s;
  animation-delay: 18s;
  animation-iteration-count: 1;
}

@keyframes tens {
  0% {
    color: transparent;
  }
  50% {
    color: #fe5668;
  }
  100% {
    color: transparent;
  }
}


.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  background: transparent;
  text-align: center;
/*  box-shadow: 3px 3px 30px black;*/
}

h1 {
  padding-top: 20px;
  font-family: "Do Hyeon", sans-serif;
}

.spinner {
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  position: relative;
  height: 400px;
  width: 400px;
  background-color: white;
}

.spinnerOne::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -30px;
  left: -30px;
  height: 400px;
  width: 400px;
  border: 30px solid #fed9c3;
  border-top-color: #fed9c3;
  animation: spinneroneani 20s linear infinite;
}

@keyframes spinneroneani {
  25% {
    border-top-color: #fed9c3;
    border-right-color: #ffbe90;
    border-bottom-color: #ff846a;
    border-left-color: #e84253;
  }
  50% {
    border-top-color: #ff846a;
    border-right-color: #e84253;
    border-bottom-color: #fed9c3;
    border-left-color: #ffbe90;
    transform: rotate(180deg) scale(1.2);
  }
  75% {
    border-top-color: #fed9c3;
    border-right-color: #ffbe90;
    border-bottom-color: #ff846a;
    border-left-color: #e84253;
  }
  100% {
    border-top-color: #ff846a;
    border-right-color: #e84253;
    border-bottom-color: #fed9c3;
    border-left-color: #ffbe90;
    transform: rotate(360deg) scale(1);
  }
}


