*{
	margin:0;
	padding:0;
}

/*body {
    background-color: #ffe5e8;
}*/
#bg {
	width: 100%;
	height: 100%;
	background-size: auto;
	background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/bg4.jpeg);
	position: fixed;
	left: 50%;
	top: 50%;
    transform: translate(-50%,-50%);
}

#pop {
    height: 280px;
    width: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    background-color: white;
}

#instructions {
     font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #333333;
    text-align: center;
    height: auto;
    width: 352.5px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

#close {
         font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: gray;
    text-align: center;
    height: auto;
    width: 130px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

#topbar {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 10px;
    color: #333333;
    text-align: justify;
        text-transform: uppercase;
}

.headings {
    font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 5px;
    color: #333333;
    text-align: justify;
        text-transform: uppercase;
    left-margin: 10px;
}

#home {
    position: fixed;
    left: 5%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#ex-in {
    position: fixed;
    left: 20%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#m-s {
    position: fixed;
    left: 40%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#s-ns {
    position: fixed;
    left: 60%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#active {
    position: fixed;
    left: 80%;
    top: 70%;
    transform: translate(-50%,-50%);
}

#passive {
    position: fixed;
    left: 95%;
    top: 70%;
    transform: translate(-50%,-50%);
}

.bucket {
    position: fixed;
    left: 15%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;  
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/bucket.png); 
    background-size: cover;
}

#secondbucket {
        position: fixed;
    left: 85%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.bucketlabels {
    position: fixed;
    left: 15%;
    top: 68%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
        font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    text-align: center;
}

#secondbucketlabel {
    position: fixed;
    left: 85%;
    top: 68%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;  
}

.elements {
	width: 5%;
	height: 5%;
	position: relative;
	left: 50%;
	top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0.9;
	background-size: cover;
	background-image: url("file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/ribcage.png");
}

/*.fixed-size-container {
    display: flex;
    margin: 10px auto 0 auto;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    width: 800px;
    height: 1000;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
  flex-direction: row-reverse;
    flex-direction: column;
       
    }*/
.fixed-size-container {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
/*    border-style: solid;
    border-color: black;*/
}
.fixed-size {
    position: absolute;
    width: 180px;
    height: 180px;
/*    display: flex;*/
/*    margin: 5px;*/
/*    width: 180px;
    height: 180px;
    background-color: transparent;
    text-align: center;
    font-size: 50px; */
/*    align-items: center;
    justify-content: center;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: white;*/
/*        animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
/*    margin-left: 30px;
    margin-top: 5px;*/
}

/*@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

    }*/

/* #ribcage {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/ribcage.png);
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
 }*/

 #hands {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/hands.png);
    top: 10%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

#blood {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/blood.png);
     top: 60%;
    left: 85%;
    transform: translate(-50%,-50%);
 }


 #finger {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/finger.png);
     top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
 }

 #heart {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/heart.png);
     top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
 }

#ears {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/ears.png);
     top: 50%;
    left: 23%;
    transform: translate(-50%,-50%);
 }

 #foot {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/foot.png);
     top: 90%;
    left: 10%;
    transform: translate(-50%,-50%);
 }

 #brain {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/brain.png);
     top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
 }

 #liver {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/liver.png);
     top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
 }

#bone {
 	background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/bone.png);
    top: 68%;
    left: 65%;
    transform: translate(-50%,-50%);
 }

 #anus {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/anus.png);
    top: 77%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
 }

 #arm {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/arm.png);
    top: 65%;
    left: 10%;
    transform: translate(-50%,-50%);
 }

 #eye {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/eye.png);
    top: 17%;
    left: 40%;
    transform: translate(-50%,-50%);
 }

 #fetus {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/fetus.png);
    top: 82%;
    left: 65%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

 #genitals {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/genitals.png);
    top: 30%;
    left: 77%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

 #intestines {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/intestines.png);
    top: 95%;
    left: 27%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

  #leg {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/leg.png);
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
 }

  #lungs {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/lungs.png);
    top: 10%;
    left: 15%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

  #mouth {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/mouth.png);
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
 }

#stomach {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/stomach.png);
    top: 90%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 140px;
 }

  #teeth {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/teeth.png);
    top: 3%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }

  #womb {
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/womb.png);
    top: 10%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
 }




#pagemarkers {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 100px;
    border-style: solid;
}

#m1 {
    position: fixed;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url(file:///Users/valerietrisnadi/Documents/Core%20Studio%20Interaction/Class-site/container/_assets/m1.png);
    top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);    
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}

li a:hover:after {
  content: ' (drag me)';
}