.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 226px;
	height: 226px;
	animation-name: loading;
	animation-iteration-count: 1;
	animation-duration: 5s;
}

@keyframes loading {
	0% {
		background-image: url(l1.png);
		background-size: cover;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
		25% {
		background-image: url(l2.png);
		background-size: cover;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
		50% {
		background-image: url(l3.png);
		background-size: cover;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
		75% {
		background-image: url(l4.png);
		background-size: cover;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
		99% {
		background-image: url(l5.png);
		background-size: cover;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
			100% {
		background-image: url(l5.png);
		background-size: cover;
			position: fixed;
	top: 300%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	}
}


#loadbg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	animation-name: loadingbg;
	animation-iteration-count: 1;
	animation-duration: 5s;
}

@keyframes loadingbg {
	0% {
		background-color: #f5f4f4;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
	99% {
		background-color: #f5f4f4;
			position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	}

		100% {
		background-color: #f5f4f4;
	position: fixed;
	top: 300%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	}
}





#madlist {
	width: 100%;
	height: 100%;
	background-image: url(gradientbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
/*	border-radius: 70px;*/
}

#listtext {
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

#mad-icon {
	width: 120px;
	height: 120px;
	background-image: url(mad-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h1 {
	width: 80%;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #494949;
	text-align: center;
}